<!DOCTYPE html>
<!--ng-app. Atributo para iniciar AngularJS-->
<html lang="es" ng-app>
  <head>
    <meta charset="UTF-8">
    <title>AngularJS App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://cloud.githubusercontent.com/assets/10409758/9973596/903a792c-5e3b-11e5-8686-e59e4399c6f9.png">    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <style>
      p {
        text-align: justify;
      }
      input {
        width: 60px;
      }
    </style>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">AngularJS App</h1>
      <h2 class="project-tagline">Una Aplicación escrita en AngularJS.</h2>
      <a href="https://pablo-ivan.github.io/" class="btn">Página Principal</a>
      <a href="https://github.com/Pablo-Ivan/ng-app" class="btn">Ver en GitHub</a>
    </section>
    <section class="main-content">
      <h3>
        <a id="sobre-angularjs" class="anchor" href="#sobre-angularjs" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sobre AngularJS
      </h3>
      <p>
        <a href="https://angularjs.org">AngularJS</a> es un framework MVC de JavaScript para el Desarrollo Web que permite crear aplicaciones SPA (Single-Page Applications). <br>
      </p>
      <h3>
        <a id="acerca-de-la-aplicacion" class="anchor" href="#acerca-de-la-aplicacion" aria-hidden="true"><span class="octicon octicon-link"></span></a>Acerca de la Aplicación
      </h3>
      <p>
        AngularJS App sigue en desarrollo. La única operación disponible por el momento es la ecuación de primer grado:
      </p>
      <p>
        <input type="text" placeholder="No. 01" ng-model="n1">x + <input type="text" placeholder="No. 02" ng-model="n2"> 
        = <input type="text" placeholder="Resultado" ng-model="r">
        <p>
          Paso 1. Tomar la variable {{n1}}x. <br>
          Paso 2. Restar {{r}} menos {{n2}} <br>
          Paso 3. Unir los dos pasos anteriores así: {{n1}}x = {{r}} - {{n2}} <br>
          Paso 4. Substituir la operación: {{n1}}x = <span ng-bind="r-n2"></span> <br>
          Paso 5. Dividir el resultado sobre la x: {{(r-n2)/n1}}
        </p>
        <p>En la ecuación {{n1}}x + {{n2}} = {{r}}; X tiene un valor de {{(r-n2)/n1}}.</p>
      </p>
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/Pablo-Ivan/ng-app">AngularJS App</a> es mantenida por <a href="https://github.com/Pablo-Ivan">Pablo-Ivan</a>.</span>
      </footer>
    </section>
    <!--scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  </body>
</html>
