<!DOCTYPE html>
<!--ng-app. Atributo para iniciar AngularJS-->
<html lang="es" ng-app>
  <head>
    <meta charset="UTF-8">
    <title>AngularJS App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://cloud.githubusercontent.com/assets/10409758/9973596/903a792c-5e3b-11e5-8686-e59e4399c6f9.png">    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <style>
      p {
        text-align: justify;
      }
      input {
        width: 60px;
      }
    </style>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">AngularJS App</h1>
      <h2 class="project-tagline">Una Aplicación escrita en AngularJS.</h2>
      <a href="https://pablo-ivan.github.io/" class="btn">Página Principal</a>
      <a href="https://github.com/Pablo-Ivan/ng-app" class="btn" target="blank">Ver en GitHub</a>
    </section>
    <section class="main-content">
      <h3>
        <a id="acerca-de-la-aplicacion" class="anchor" href="#acerca-de-la-aplicacion" aria-hidden="true"><span class="octicon octicon-link"></span></a>Acerca de la Aplicación
      </h3>
      <p>
        AngularJS App sigue en desarrollo. La única operación disponible por el momento es la ecuación de primer grado y gráfica:
      </p>
      <p>
        <h3>Ecuación de 1er Grado a base de Suma</h3>
        <input maxlength="4" placeholder="No. 01" ng-model="s1">x + <input maxlength="4" placeholder="No. 02" ng-model="s2"> = <input maxlength="5" placeholder="R." ng-model="rs">
        <p>
          Sólo para confirmar, tu ecuación es: {{s1}}x + {{s2}} = {{rs}} <br>
          Paso 1. Tomar la variable {{s1}}x. <br>
          Paso 2. Restar {{rs}} menos {{s2}}: {{rs-s2}}. <br>
          Paso 3. Unir los dos pasos anteriores: {{s1}}x = {{rs}} - {{s2}}. <br>
          Paso 4. Substituir la operación: {{s1}}x = <span ng-bind="rs-s2"></span>. <br>
          Paso 5. Dividir el resultado sobre la x: {{((rs-s2)/s1).toFixed(2)}}.
        </p>
        <p>En la ecuación {{s1}}x + {{s2}} = {{rs}}, con base en una suma; x tiene un valor de {{((rs-s2)/s1).toFixed(2)}}.</p>
        <hr>
        <h3>Ecuación de 1er Grado a base de Resta</h3>
        <input maxlength="4" placeholder="No. 01" ng-model="r1">x - <input maxlength="4" placeholder="No. 02" ng-model="r2"> = <input maxlength="5" placeholder="R." ng-model="rr">
        <p>
          Sólo para confirmar, tu ecuación es: {{r1}}x - {{r2}} = {{rr}} <br>
          Paso 1. Tomar la variable {{r1}}x. <br>
          Paso 2. Sumar {{rr}} más {{r2}}: {{(rr*1)+(r2*1)}}. <br>
          Paso 3. Unir los dos pasos anteriores: {{r1}}x = {{rr}} + {{r2}}. <br>
          Paso 4. Substituir la operación: {{r1}}x = <span ng-bind="(rr*1)+(r2*1)"></span>. <br>
          Paso 5. Dividir el resultado sobre la x: {{(((rr*1)+(r2*1))/r1).toFixed(2)}}.
        </p>
        <p>En la ecuación {{r1}}x - {{r2}} = {{rr}}, con base en una resta; x tiene un valor de {{(((rr*1)+(r2*1))/r1).toFixed(2)}}.</p>
        <hr>
        <h3>Ecuación Gráfica a base de Suma</h3>
        y = <input maxlength="4" placeholder="No. 01" ng-model="g1">x + <input maxlength="4" placeholder="No. 02" ng-model="g2">
        <p>Tu ecuación gráfica es: y = {{g1}}x + {{g2}}.</p>
        <table border="0" style="width:134px;margin-top: 10px;">
          <tr>
            <td>x</td>
            <td>y</td>  	
          </tr>
          <tr>
            <td>-2</td>
            <td>{{(g1*-2)+(g2*1)}}</td>		
          </tr>
          <tr>
            <td>-1</td>
              <td>{{(g1*-1)+(g2*1)}}</td>		
          </tr>
          <tr>
            <td>0</td>
            <td>{{(g1*0)+(g2*1)}}</td>
          </tr>
          <tr>
            <td>1</td>
            <td>{{(g1*1)+(g2*1)}}</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{(g1*2)+(g2*1)}}</td>
          </tr>
        </table>
      </p>
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/Pablo-Ivan/ng-app" target="blank">AngularJS App</a> es mantenida por <a href="https://github.com/Pablo-Ivan" target="blank">Pablo-Ivan</a>.</span>
      </footer>
    </section>
    <!--scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/https.js"></script>
  </body>
</html>
